body {
    background-color: white;
}

header {
    margin: 0;
    padding: 0;
    background-color: white;
}
.header_section {
    display: flex;
}
.header_section_left {
    display: flex;
    justify-content: center;
    flex-grow: 0.33;
}
.li_page {
    color: #403D39;
    margin: 18px 36px 0 30px;
}
.a_page {
    width: 35px;
    height: 35px;
    font-size: 25px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.25em;
    text-align: center;

}
.li_item {
    color: #403D39;
    font-family: 'League Spartan', sans-serif;
    font-size: 22px;
    font-weight: lighter;
    margin: 18px 36px 0 0;
}
.li_lang {
    color: #403D39;
    font-family: 'League Spartan', sans-serif;
    font-size: 22px;
    font-weight: lighter;
    margin-top: 18px;
}
.dropdown-toggle {
    font-size: 20px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.25em;
    text-align: center;

}
.main_block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main_photo {
    width: 948px;
    height: 472px;
    align-items: center;

}
.quote {
    height: 100px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote_p {
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-align: center;

}
.header_section_mid {
    padding: 40px;
    display: flex;
}

.header_logo {
    width: 172px;
    height: 172px;
}
.a_logo {
    color: #403D39;
    font-family: 'League Spartan', sans-serif;
    font-size: 30px;
}
.header_section_right {
    display: flex;
    justify-content: end;
    flex-grow: 0.33;
    padding: 40px;
}

.header_img {
    height: 35px;
    width: 35px;
}

h1, h2, h3, li, ul, a {
    text-decoration: none;
    list-style-type: none;
    color: inherit;
}

.dropdown-menu {
    min-width: 0rem;
    transform: translate(-25px, 28px)!important;
}

.about {
    display: flex;
}
.about_img {
    width: 700px;
    height: 930px;
}
.skills {
    background-image: url("https://p100.sho/assets/img/skills.png");
    display: flex;
}
.exp {
    height: 1100px;
}