@import url('https://fonts.googleapis.com/css2?family=Barrio&family=League+Spartan:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Commissioner:wght@300&family=League+Spartan:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Commissioner:wght@300&family=League+Spartan:wght@300;500&family=Marcellus&display=swap');


/* Стили раздела officia */

.body_official {
    background-color: black;
}

.header_official {
    background-color: black;
}

header {
    margin: 0;
    padding: 0;
    background-color: white;
}

.Btn_o {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 170px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    background-color: #264143;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #1d3436;
    transition-duration: .3s;
    margin-right: 40px;
}

.svg_o {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    fill: white;
    transition-duration: .3s;
}

.Btn_o:hover {
    color: transparent;
}

.Btn_o:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
}

.Btn_o:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px #1d3436;
}

.header_section_o {
    display: flex;
}
.header_section_left_o {
    display: flex;
    justify-content: center;
    flex-grow: 0.33;
    align-items: center;
}
.li_page_o {
    color: #ffffff;
    margin: 18px 36px 0 30px;
}
.a_page_o {
    width: 35px;
    height: 35px;
    font-size: 22px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.25em;
    text-align: center;

}
.li_item_o {
    color: #ffffff;
    font-family: 'League Spartan', sans-serif;
    font-size: 22px;
    font-weight: lighter;
    margin: 18px 80px 0 10px;
}
.li_lang_o {
    color: #ffffff;
    font-family: 'League Spartan', sans-serif;
    font-size: 22px;
    font-weight: lighter;
    margin-top: 18px;
}

.header_section_mid_o {
    display: flex;
}

.header_logo_o {
    width: 172px;
    height: 50px;
}
.a_logo_o {
    color: #ffffff;
    font-family: 'League Spartan', sans-serif;
    font-size: 30px;
}
.header_section_right_o {
    display: flex;
    justify-content: end;
    flex-grow: 0.33;
    padding: 5px;
    margin-top: 10px;
}

.header_img_o {
    height: 35px;
    width: 35px;
}

.about_o {
    background-color: #dcd7d7;
    padding-top: 50px;
}

.about_block_o {
    padding: 40px;
}

.about_h1_o {
    font-family: Marcellus, serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 40px;
}

.about_p_o {
    font-family: Commissioner, serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;

}

.skills_o {
    background-color: black;
    align-items: end;
}

.skills_block_o {
    padding: 40px;
}

.skills_h1_o {
    font-family: Marcellus, serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: right;
    color: white;
    margin-bottom: 40px;
}

.skills_p_o {
    font-family: Commissioner, serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: right;
    color: white;
}

.exp_o {
    background-color: #dcd7d7;
    align-items: start;
}

.exp_block_o {
    padding: 40px;
}

.exp_h1_o {
    font-family: Marcellus, serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    margin-bottom: 40px;
}

.exp_p_o {
    font-family: Commissioner, serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

.contacts_o {
    display: flex;
    justify-content: space-around;
}

.contacts_left_o {
    margin-top: 100px;
    padding: 20px;
}

.contacts_h1_o {
    font-family: Barrio, serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 120px;
    letter-spacing: 0.05em;
    text-align: left;
    margin-bottom: 40px;
    color: white;
}

.contacts_info_o {
    display: flex;
    margin-top: 50px;
}

.contacts_img_o {
    width: 50px;
    height: 50px;
}

.contacts_a_o {
    font-family: Commissioner, serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-left: 25px;
    color: white;
}


.contacts_container_o {
    display: flex;
    justify-content: space-around;
}

.form_area_o {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin-top: 150px;
}

.contacts_title_o {
    color: #264143;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 20px;
}

.contacts_sub_title_o {
    font-weight: 600;
    margin: 5px 0;
    color: white;
}

.contacts_form_group_o {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px;
}

.contacts_form_style_o {
    outline: none;
    border: 2px solid #264143;
    width: 290px;
    padding: 6px 10px;
    border-radius: 16px;
    font-size: 15px;
    background-color: black;
    color: white;
}

.contacts_form_style_o::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

.contacts_form_style_o:focus, .contacts_btn_o:focus {
    transform: translateY(4px);
    box-shadow: 2px 4px 0px 0px #1d3436;
}

.contacts_btn_o {
    padding: 10px;
    color: white;
    border: 2px solid #203638;
    margin: 25px 10px;
    width: 290px;
    font-size: 15px;
    background: #264143;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 3px 3px 0px 0px #1d3436;
}

.contacts_btn:hover {
    opacity: .9;
}




/*Адаптивность для мобильных устройств*/

@media screen and (max-width: 440px) {
    .header_section_o {
        display: block;

    }

    .header_logo_o {
        margin-top: 20px;
    }

    .header_section_mid_o {
        padding: 10px;
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }

    .header_section_right_o {
        display: flex;
        justify-content: center;
        flex-grow: 0.33;
        padding: 5px;
        margin-top: 10px;
    }

    .li_item_o {
        margin: auto;
    }

    .a_page_o {
        font-family: Mallanna, serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;

    }

    .main_photo_o {
        width: 364px;
        height: 191px;
    }

    .main_btn_o {
        display: none;
    }

    .quote_p_o {
        font-family: Basic, serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: center;

    }

    .about_o {
        display: block;
        background-color: white;
        padding-top: 10px;
    }

    .about_h1_o {
        font-family: Barrio, serif;
        font-size: 25px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 0.05em;
        text-align: left;
        margin-bottom: 20px;
    }

    .about_p_o {
        font-family: Commissioner, serif;
        font-size: 13px;
        font-weight: 300;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        padding: 0;
    }

    .modal_o {
        height: 70vh;
    }

    .about_right_o {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .about_block_o {
        padding: 20px;
    }

    .about_img_o {
        width: 250px;
        height: 250px;
    }

    .skills_right_o {
        margin: 0;
    }

    .skills_left_o {
        display: flex;
        margin: 0;
    }

    .skills_div_img img:nth-child(n+6) {
        display: none;
    }

    .skills_div_img_o {
        padding: 10px;
        margin-left: 50px;
    }

    .skills_img_mob_o {
        display: grid;
        grid-template-columns: 75px 75px 75px;
        margin-top: 50px;
    }

    .img_left_o {
        display: none;
    }

    .img_right_o {
        display: none;
    }

    .skills_h1_o {
        font-family: Barrio, serif;
        font-size: 25px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 0.05em;
        text-align: right;
        margin-bottom: 20px;
    }

    .skills_p_o {
        font-family: Commissioner, serif;
        font-size: 13px;
        font-weight: 300;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: right;
        margin: 0;
        padding: 0;

    }

    .skills_img_o {
        width: 30px;
        height: 30px;
    }

    .exp_h1_o {
        font-family: Barrio, serif;
        font-size: 25px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 0.05em;
        text-align: left;
        margin-bottom: 20px;
    }

    .exp_p_o {
        font-family: Commissioner, serif;
        font-size: 13px;
        font-weight: 300;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;
        padding: 0;
    }

    .contacts_o {
        display: block;
    }

    .contacts_container_o {
        display: block;
    }

    .contacts_info_o {
        margin-left: 75px;
    }

    .contacts_h1_o {
        font-family: Barrio, serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 55px;
        letter-spacing: 0.05em;
        text-align: right;
        margin: 25px;
        padding: 0;
        color: white;
    }

    .contacts_a_o {
        font-family: Commissioner, serif;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        padding: 0;
        color: white;
    }

    .contacts_form_style_o {
        width: 270px;
        height: 36px;
        padding: 4px 15px;
    }

    .contacts_btn_o {
        width: 270px;
        padding: 5px;
    }

    .contacts_img_o {
        width: 25px;
        height: 25px;
    }

    .form_area_o {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
        margin-top: 40px;
    }
}
